<!DOCTYPE html>
{% load static %}
<html Lsng="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>
		Iksaan.com
	</title>
        <link rel="stylesheet" href="{% static 'app/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'app/css/style.css' %}">
        <script src="{% static 'app/js/bootstrap.bundle.min.js' %}"></script>

</head>

<body>
	<div>
		{% block content %}
		{% endblock content %}
	</div>
        <script src="{% static 'app/js/jquery.js' %}"></script>
        <script src="{% static 'app/js/popper.min.js' %}"></script>
        <script src="{% static 'app/js/bootstrap.min.js' %}"></script>

</body>
</html>
